<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/chain.gif">
         <run
               class="org.vast.sensormleditor.apps.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.vast.sensormleditor.apps.Perspective"
            icon="icons/layout.gif"
            id="SensorMLEditor.perspective"
            name="SensorML">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui.examples.navigator.category"
            class="org.vast.sensormleditor.views.NavigationView"
            icon="icons/filenav_nav.gif"
            id="SensorMLEditor.NavigationView"
            name="SensorML Navigator">
      </view>
      <category
            id="org.eclipse.ui.examples.navigator.category"
            name="SensorMLEditor">
      </category>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.vast.SensorMLEditor.application"
            name="SensorML Editor">
         <property
               name="appName"
               value="SensorML Editor">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="SensorML Editor&#x0A;VAST 2008&#x0A;UAHuntsville&#x0A;The University of Alabama in Huntsville&#x0A;http://vast.uah.edu">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.vast.sensormleditor.editors.SMLTreeEditor"
            contributorClass="org.vast.sensormleditor.editors.SMLTreeEditorActionBarContributor"
            default="false"
            extensions="rng"
            icon="icons/gear.gif"
            id="SensorMLEditor.TreeEditor"
            name="SensorML Tree Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="SensorMLEditor.TreeEditor"
            labelProvider="org.vast.sensormleditor.properties.labelproviders.TabbedTitleBarLabelProvider">
         <propertyCategory
               category="SensorMLEditor"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="SensorMLEditor.TreeEditor">
         <propertyTab
               category="SensorMLEditor"
               id="first"
               image="icons/icon_edit.gif"
               indented="false"
               label="Edit">
         </propertyTab>
         <propertyTab
               afterTab="first"
               category="SensorMLEditor"
               id="ContactInfo"
               image="icons/icon_edit.gif"
               indented="false"
               label="Contact Info">
         </propertyTab>
         <propertyTab
               afterTab="first"
               category="SensorMLEditor"
               id="Constraint"
               image="icons/icon_edit.gif"
               indented="false"
               label="Constraint">
         </propertyTab>
         <propertyTab
               afterTab="ElementCount"
               category="SensorMLEditor"
               id="ElementCount"
               image="icons/icon_edit.gif"
               indented="false"
               label="Element Count">
         </propertyTab>
         <propertyTab
               afterTab="first"
               category="SensorMLEditor"
               id="ElementType"
               image="icons/icon_edit.gif"
               indented="false"
               label="Element Type">
         </propertyTab>
         <propertyTab
               afterTab="ElementCount"
               category="SensorMLEditor"
               id="Encoding"
               image="icons/icon_edit.gif"
               indented="false"
               label="Encoding">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="SensorMLEditor.TreeEditor">
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.KeywordListSection"
                  filter="org.vast.sensormleditor.properties.tabfilters.AdvancedEditorTabFilter"
                  id="SensorMLEditor.KeyWordListSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.DataRecordSection"
                  filter="org.vast.sensormleditor.properties.tabfilters.DataRecordSectionTabFilter"
                  id="SensorMLEditor.DataRecordSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.DataRecordSection"
                  class="org.vast.sensormleditor.properties.sections.NumericalSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.NumericalTabFilter"
                  id="SensorMLEditor.NumericalSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.DataRecordSection"
                  class="org.vast.sensormleditor.properties.sections.ScalarSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ScalarTabFilter"
                  id="SensorMLEditor.ScalarSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.DataRecordSection"
                  class="org.vast.sensormleditor.properties.sections.RangeSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.RangeTabFilter"
                  id="SensorMLEditor.RangeSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.ObservablePropertySection,SensorMLEditor.RngValueSection"
                  class="org.vast.sensormleditor.properties.sections.TermDefinitionSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.TermDefinitionTabFilter"
                  id="SensorMLEditor.TermDefinitionSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.TermDefinitionSection"
                  class="org.vast.sensormleditor.properties.sections.UOMSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.UOMTabFilter"
                  id="SensorMLEditor.UOMSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.AllowedValuesSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.AllowedValuesTabFilter"
                  id="SensorMLEditor.AllowedValuesSection"
                  tab="Constraint">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.ComponentSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ComponentTabFilter"
                  id="SensorMLEditor.ComponentSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.ObservablePropertySection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ObservablePropertyTabFilter"
                  id="SensorMLEditor.ObservablePropertySection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.IndividualNameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ResponsiblePartyTabFilter"
                  id="SensorMLEditor.IndividualName"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.IndividualName"
                  class="org.vast.sensormleditor.properties.sections.OrganizationNameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ResponsiblePartyTabFilter"
                  id="SensorMLEditor.OrganizationName"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.OrganizationName"
                  class="org.vast.sensormleditor.properties.sections.PositionNameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ResponsiblePartyTabFilter"
                  id="SensorMLEditor.PositionName"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.PositionName"
                  class="org.vast.sensormleditor.properties.sections.ContactInfoSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ResponsiblePartyTabFilter"
                  id="SensorMLEditor.ContactInfo"
                  tab="ContactInfo">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.ContactInfo"
                  class="org.vast.sensormleditor.properties.sections.SMLonlineResourceSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SMLonlineResourceTabFilter"
                  id="SensorMLEditor.SMLonlineResource"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.SMLonlineResource"
                  class="org.vast.sensormleditor.properties.sections.HoursOfServiceSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.HoursofServiceTabFilter"
                  id="SensorMLEditor.HoursOfService"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.HoursOfService"
                  class="org.vast.sensormleditor.properties.sections.ContactInstructionsSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ContactInstructionsTabFilter"
                  id="SensorMLEditor.ContactInstructions"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.MinSection,SensorMLEditor.MaxSection,SensorMLEditor.KeyWordListSection"
                  class="org.vast.sensormleditor.properties.sections.CodespaceSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.CodespaceTabFilter"
                  id="SensorMLEditor.CodeSpace"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.MinSection,SensorMLEditor.MaxSection,SensorMLEditor.KeyWordListSection,SensorMLEditor.AttributeDefinition"
                  class="org.vast.sensormleditor.properties.sections.GMLNameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.GMLNameTabFilter"
                  id="SensorMLEditor.GMLNameSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.MinSection,SensorMLEditor.MaxSection,SensorMLEditor.KeyWordListSection,SensorMLEditor.AttributeDefinition"
                  class="org.vast.sensormleditor.properties.sections.GMLDescriptionSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.GMLDescriptionTabFilter"
                  id="SensorMLEditor.GMLDescriptionSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.MinSection,SensorMLEditor.MaxSection,SensorMLEditor.KeyWordListSection,SensorMLEditor.AttributeDefinition"
                  class="org.vast.sensormleditor.properties.sections.GMLIdSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.GMLIdTabFilter"
                  id="SensorMLEditor.GMLIdSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SMLDocumentationSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SMLDocumentationTabFilter"
                  id="SensorMLEditor.SMLDocumentation"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SMLCapabilitiesSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SMLCapabilitiesTabFilter"
                  id="SensorMLEditor.SMLCapabilities"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SMLIdentifierSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SMLIdentifierTabFilter"
                  id="SensorMLEditor.SMLIdentifier"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SMLCharacteristicsSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SMLCharacteristicsTabFilter"
                  id="SensorMLEditor.SMLCharacteristics"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SMLClassifierSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SMLClassifierTabFilter"
                  id="SensorMLEditor.SMLClassifier"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.IdentifierSecton"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.IdentifierTabFilter"
                  id="SensorMLEditor.IdentifierSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.ClassifierSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ClassifierTabFilter"
                  id="SensorMLEditor.ClassifierSection"
                  tab="first">
            </propertySection>           
            <propertySection
                  afterSection="SensorMLEditor.IdentifierSection,SensorMLEditor.ClassifierSection"
                  class="org.vast.sensormleditor.properties.sections.RngValueSection"
                  filter="org.vast.sensormleditor.properties.tabfilters.RngValueTabFilter"
                  id="SensorMLEditor.RngValueSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.XLinkHrefSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.XlinkHrefTabFilter"
                  id="SensorMLEditor.XlinkHrefSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.OutputListSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.OutputListTabFilter"
                  id="SensorMLEditor.OutputListSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.ComponentListSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ComponentListTabFilter"
                  id="SensorMLEditor.ComponentListSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.ParameterListSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ParameterListTabFilter"
                  id="SensorMLEditor.ParameterListSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.DataArrayElementCountSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DataArrayElementCountTabFilter"
                  id="SensorMLEditor.DataArrayElementCountSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection"
                  class="org.vast.sensormleditor.properties.sections.CountSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.CountTabFilter"
                  id="SensorMLEditor.CountSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection"
                  class="org.vast.sensormleditor.properties.sections.QuantitySection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.QuantityTabFilter"
                  id="SensorMLEditor.QuantitySection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection"
                  class="org.vast.sensormleditor.properties.sections.TimeSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.TimeTabFilter"
                  id="SensorMLEditor.TimeSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.ScalarSection"
                  class="org.vast.sensormleditor.properties.sections.CategorySection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.CategoryTabFilter"
                  id="SensorMLEditor.CategorySection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.ScalarSection"
                  class="org.vast.sensormleditor.properties.sections.TextSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.TextTabFilter"
                  id="SensorMLEditor.TextSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.ScalarSection"
                  class="org.vast.sensormleditor.properties.sections.BooleanSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.BooleanTabFilter"
                  id="SensorMLEditor.BooleanSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.InputListSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.InputListTabFilter"
                  id="SensorMLEditor.InputListSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.CodeSpace"
                  class="org.vast.sensormleditor.properties.sections.SWEDefinitionSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEDefinitionTabFilter"
                  id="SensorMLEditor.SWEDefinitionSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.CodeSpace"
                  class="org.vast.sensormleditor.properties.sections.SWEFixedSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEFixedTabFilter"
                  id="SensorMLEditor.SWEFixedSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.AttributeNameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.AttributeNameTabFilter"
                  id="SensorMLEditor.AttributeNameSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.RangeSection"
                  class="org.vast.sensormleditor.properties.sections.RangeValuesSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.RangeValuesTabFilter"
                  id="SensorMLEditor.RangeValuesSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.PersonSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.PersonTabFilter"
                  id="SensorMLEditor.PersonSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.IndeterminatePositionSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.IndeterminatePositionTabFilter"
                  id="SensorMLEditor.IndeterminatePosition"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.DateTimeSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DateTimeTabFilter"
                  id="SensorMLEditor.DateTimeSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.DateSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DateTabFilter"
                  id="SensorMLEditor.DateSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SMLDateSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DocumentationTabFilter"
                  id="SensorMLEditor.SMLDateSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.SMLDateSection"
                  class="org.vast.sensormleditor.properties.sections.SMLFormatSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DocumentationTabFilter"
                  id="SensorMLEditor.SMLFormatSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SecurityConstraintSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SecurityConstraintTabFilter"
                  id="SensorMLEditor.SecurityConstraintSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.AttributeNameSection"
                  class="org.vast.sensormleditor.properties.sections.ConnectionSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ConnectionTabFilter"
                  id="SensorMLEditor.ConnectionSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.AllowedTokensSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.AllowedTokensTabFilter"
                  id="SensorMLEditor.AllowedTokensSection"
                  tab="Constraint">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.AllowedTimesSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.AllowedTimesTabFilter"
                  id="SensorMLEditor.AllowedTimesSection"
                  tab="Constraint">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.MinSection,SensorMLEditor.MaxSection,SensorMLEditor.KeyWordListSection,SensorMLEditor.AttributeDefinition"
                  class="org.vast.sensormleditor.properties.sections.XlinkRolesSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.XlinkRolesTabFilter"
                  id="SensorMLEditor.XlinkRoles"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.AttributeNameSection"
                  class="org.vast.sensormleditor.properties.sections.VectorSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.VectorTabFilter"
                  id="SensorMLEditor.VectorSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.AttributeNameSection"
                  class="org.vast.sensormleditor.properties.sections.ConditionalValueSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.ConditionalValueSectionTabFilter"
                  id="SensorMLEditor.ConditionalValueSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.AttributeNameSection"
                  class="org.vast.sensormleditor.properties.sections.DataArraySection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DataArrayTabFilter"
                  id="SensorMLEditor.DataArraySection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.idrefSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.idrefTabFilter"
                  id="SensorMLEditor.idrefSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.StandardFormatSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.StandardFormatTabFilter"
                  id="SensorMLEditor.MimeType"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.TextBlockSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.TextBlockTabFilter"
                  id="SensorMLEditor.TextBlock"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.BinaryBlockSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.BinaryBlockTabFilter"
                  id="SensorMLEditor.BinaryBlock"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SWEComponentSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEComponentTabFilter"
                  id="SensorMLEditor.SWEComponentSection"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SWEBlockSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEBlockTabFilter"
                  id="SensorMLEditor.SWEBlockSection"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.CodeSpace"
                  class="org.vast.sensormleditor.properties.sections.SWEreferenceFrameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEreferenceFrameTabFilter"
                  id="SensorMLEditor.SWEreferenceFrame"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.CodeSpace"
                  class="org.vast.sensormleditor.properties.sections.SWEAxisIDSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEAxisIDTabFilter"
                  id="SensorMLEditor.SWEAxisID"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.CodeSpace"
                  class="org.vast.sensormleditor.properties.sections.SWElocalFrameSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWElocalFrameTabFilter"
                  id="SensorMLEditor.SWElocalFrame"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.NumericalSection,SensorMLEditor.ScalarSection,SensorMLEditor.RangeSection,SensorMLEditor.CodeSpace"
                  class="org.vast.sensormleditor.properties.sections.SWEreferenceTimeSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SWEreferenceTimeTabFilter"
                  id="SensorMLEditor.SWEreferenceTime"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.SensorMLSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.SensorMLTabFilter"
                  id="SensorMLEditor.SensorML"
                  tab="first">
            </propertySection>
            <propertySection
                  class="org.vast.sensormleditor.properties.sections.AbstractDataArraySection"
                  filter="org.vast.sensormleditor.properties.tabfilters.AbstractDataArrayTabFilter"
                  id="SensorMLEditor.AbstractDataArray"
                  tab="first">
            </propertySection>
            <propertySection
                  afterSection="SensorMLEditor.TextBlock, SensorMLEditor.StandardFormat,SensorMLEditor.BinaryBlock"
                  class="org.vast.sensormleditor.properties.sections.DataArrayValuesSection"
                  enablesFor="1"
                  filter="org.vast.sensormleditor.properties.tabfilters.DataArrayValuesTabFilter"
                  id="SensorMLEditor.DataArrayValuesSection"
                  tab="first">
            </propertySection>
         </propertySections>
   </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerActionBinding
           viewerId="SensorMLEditor.NavigationView">
        <includes>
           <actionExtension
                 pattern="org.eclipse.ui.navigator.resources.*">
           </actionExtension>
        </includes>
     </viewerActionBinding>
     <viewerContentBinding
           viewerId="SensorMLEditor.NavigationView">
        <includes>
           <contentExtension
                 isRoot="true"
                 pattern="org.eclipse.ui.navigator.resourceContent">
           </contentExtension>
           <contentExtension
                 pattern="org.eclipse.ui.navigator.resources.filters.*">
           </contentExtension>
           <contentExtension
                 pattern="org.eclipse.ui.navigator.resources.linkHelper">
           </contentExtension>
           <contentExtension
                 pattern="org.eclipse.ui.navigator.resources.workingSets">
           </contentExtension>
        </includes>
     </viewerContentBinding>
     <viewer
           popupMenuId="org.eclipse.ui.examples.navigator.view.menu"
           viewerId="SensorMLEditor.NavigationView">
     </viewer>
  </extension>
  <extension
        point="org.eclipse.help.toc">
     <toc
           file="toc.xml"
           primary="true">
     </toc>
     <toc
           file="tocconcepts.xml">
     </toc>
     <toc
           file="tocgettingstarted.xml">
     </toc>
     <toc
           file="tocreference.xml">
     </toc>
     <toc
           file="toctasks.xml">
     </toc>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="SensorMLEditor.Commands"
           name="SensorML">
     </category>
     <command
           categoryId="SensorMLEditor.Commands"
           id="SensorMLEditor.NewInstance"
           name="New SensorML Instance">
     </command>
     <keyBinding
           commandId="SensorMLEditor.NewInstance"
           keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
           keySequence="M1+A">
     </keyBinding>
  </extension>nsion>
</plugin>
